<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Вход</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <h2>Вход в систему</h2>
    <div th:if="${param.error}" class="alert-error">
        Неверное имя пользователя или пароль
    </div>
    <div th:if="${param.logout}" class="alert-success">
        Вы успешно вышли из системы
    </div>
    <form th:action="@{/login}" method="post">
        <div>
            <label for="username">Имя пользователя:</label>
            <input type="text" id="username" name="username" required autofocus>
        </div>
        <div>
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Войти</button>
    </form>
    <p>Нет аккаунта? <a th:href="@{/register}">Зарегистрироваться</a></p>
</div>
</body>
</html>